stages:
    - frontend-verify
    - backend-verify

ping-frontend:
    stage: frontend-verify
    tags:
        - frontend
    script:
        - echo "hello frontend!"

ping-backend:
    stage: backend-verify
    tags:
        - backend
    script:
        - echo "backend backend backend"