@page "/recipes"
@rendermode InteractiveServer

<PageTitle>Recipes</PageTitle>

<div class="recipes-container">
    <div class="recipes-header">
        <div class="header-text">
            <h1>Recipes</h1>
            <p>Manage your location's recipes and prep items</p>
        </div>
    </div>
</div>
